:host {
  display: flex;
  flex: 1;
}

.beneficiaries-container {
  width: 100%;
}

.empty-data {
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.new-item {
  padding: 10px 0px;
}

.wrap-text {
  font-size: 0.75em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
