<div class="main-div">
    <div class="reset-password-container">
      <img
        id="logo"
        mat-card-image
        src="assets/images/logo.svg"
        alt="SafeTrack logo"
      />
      <mat-card class="reset-password-card">
        <mat-card-header>
          <mat-card-title>Recuperar usuario</mat-card-title></mat-card-header
        >
        <mat-card-content>
          <div class="row inputs" *ngIf="!_authService.access">
            <mat-form-field>
              <input
                type="email"
                matInput
                placeholder="Email"
                name="reset-password-email"
                [(ngModel)]="user.email"
              />
            </mat-form-field>
            <span *ngFor="let error of _authService.errors.email">
              <br />
              {{ error }}
            </span>
  
            <div class="row center">
              <button mat-flat-button color="primary" (click)="resetPassword()">Enviar</button>
            </div>
            <div class="col-sm-12">
              <span *ngFor="let error of _authService.errors.non_field_errors">
                {{ error }}
                <br />
              </span>
            </div>
            <div class="row extra-buttons">
              <a mat-button [routerLink]="['/register']">Ingreso</a>
              <a mat-button [routerLink]="['/register']">Registro</a>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  