<div class="alerts-container">
  <mat-list role="list">
    <div mat-subheader>Últimas alertas</div>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">Item 1</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">Item 2</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">Item 3</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>

<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>
