:host {
  display: flex;
  flex: 1;
}

.alerts-container {
  min-width: 300px;
  max-width: 600px;
  border: 2px solid black;
}

.map-container {
  flex-grow: 1;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
  box-sizing: border-box;
  margin: 0 0px 0 20px;
}

#map {
  height: 100%;
}
