:host {
  display: flex;
  flex: 1;
}

.alerts-container {
  min-width: 300px;
  max-width: 600px;
  border: 2px solid black;
  overflow-y: scroll;
}

.map-container {
  flex-grow: 1;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
  box-sizing: border-box;
  margin: 0 0px 0 20px;
}

#map {
  height: 100%;
}

.dot-grey,
.dot-red,
.dot-orange,
.dot-green {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}

.dot-grey {
  background-color: #bbb;
}

.dot-red {
  background-color: red;
}

.dot-orange {
  background-color: orange;
}

.dot-green {
  background-color: green;
}

.connection-status {
  z-index: 999;
  position: absolute;
  right: 0;
  background: azure;
  padding: 10px;
}

.connection-title {
  margin: 0 auto;
}
