<div class="main-div">
  <div class="login-container">
    <img
      id="logo"
      mat-card-image
      src="assets/images/logo.png"
      alt="SafeTrack logo"
    />
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>Ingreso</mat-card-title></mat-card-header
      >
      <mat-card-content>
        <div class="row inputs">
          <form class="loginForm" [formGroup]="loginForm" (ngSubmit)="submit()">
            <mat-form-field>
              <input
                type="email"
                matInput
                placeholder="Email"
                name="login-email"
                formControlName="email"
              />
            <mat-error *ngIf="email?.invalid && (email?.dirty || email?.touched)">
              <ng-container *ngIf="email?.errors?.['required']">Completar email</ng-container>
              <ng-container *ngIf="email?.errors?.['email']">Formato inválido</ng-container> 
            </mat-error>
            
            </mat-form-field>
            <mat-form-field>
              <input
                type="password"
                matInput
                placeholder="Contraseña"
                name="login-password"
                formControlName="password"
              />

              <mat-error *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                <ng-container *ngIf="password?.errors?.['required']">Completar contraseña</ng-container>
              </mat-error>
            </mat-form-field>

            <div class="row center">
              <button
                mat-flat-button
                color="primary"
                type="submit"
                [disabled]="!loginForm.valid"
              >
                Ingresar
              </button>
            </div>
          </form>
        </div>
        <div class="row extra-buttons">
          <a mat-button [routerLink]="['/reset-password']"
            >Olvidé mi contraseña</a
          >
          <a mat-button [routerLink]="['/register']">Registro</a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
