<div class="main-div">
  <div class="register-container">
    <img
      id="logo"
      mat-card-image
      src="assets/images/logo.svg"
      alt="SafeTrack logo"
    />
    <mat-card class="register-card">
      <mat-card-header>
        <mat-card-title>Registro</mat-card-title></mat-card-header
      >
      <mat-card-content>
        <div class="row inputs">
          <mat-form-field>
            <input
              type="email"
              matInput
              placeholder="Email"
              name="register-email"
              [(ngModel)]="user.email"
            />
          </mat-form-field>
          <span *ngFor="let error of _authService.errors.email">
            <br />
            {{ error }}
          </span>
          <mat-form-field>
            <input
              type="text"
              matInput
              placeholder="Nombre"
              name="register-name"
              [(ngModel)]="user.name"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              type="text"
              matInput
              placeholder="Apellido"
              name="register-lastname"
              [(ngModel)]="user.lastname"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              type="text"
              required="true"
              matInput
              placeholder="Nombre organización"
              name="register-organization"
              [(ngModel)]="user.organization"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              type="password"
              matInput
              placeholder="Contraseña"
              name="register-password"
              [(ngModel)]="user.password"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              type="password"
              matInput
              placeholder="Repetir contraseña"
              name="register-password2"
              [(ngModel)]="user.password2"
            />
          </mat-form-field>
          <span *ngFor="let error of _authService.errors.password">
            <br />
            {{ error }}
          </span>

          <div class="row center">
            <button mat-flat-button color="primary" (click)="register()">
              Registrar
            </button>
          </div>
          <div class="col-sm-12">
            <span *ngFor="let error of _authService.errors.non_field_errors">
              {{ error }}
              <br />
            </span>
          </div>
          <div class="row extra-buttons">
            <a mat-button>Olvidé mi contraseña</a>
            <a mat-button [routerLink]="['/login']">Ingreso</a>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
