:host {
  display: flex;
  flex: 1;
}

.alert-types-container {
  width: 100%;
}

.empty-data {
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.new-item {
  padding: 10px 0px;
}

.table-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
